<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ScrollSpeed>512</ScrollSpeed>
  <ZoomSpeed>0.001</ZoomSpeed>

  <Leaf>
    <Radius>64</Radius>
    <PulseSmallRadius>68</PulseSmallRadius>
    <PulseLargeRadius>72</PulseLargeRadius>
    <PulseSmallOutDuration>0.05</PulseSmallOutDuration>
    <PulseSmallInDuration>0.1</PulseSmallInDuration>
    <PulseLargeOutDuration>0.05</PulseLargeOutDuration>
    <PulseLargeInDuration>0.2</PulseLargeInDuration>
    <PulsePassOnTime>0.1</PulsePassOnTime>
    <LifeLossPerSecond>0.34</LifeLossPerSecond>
    <MaxLife>1</MaxLife>
  </Leaf>

  <EnergySource>
    <Normal>
      <EnergyAmount>1</EnergyAmount>
    </Normal>
  </EnergySource>

  <Heart>
    <Radius>160</Radius>
    <PulseSmallRadius>156</PulseSmallRadius>
    <PulseLargeRadius>152</PulseLargeRadius>
    <PulseSmallOutDuration>0.1</PulseSmallOutDuration>
    <PulseSmallInDuration>0.1</PulseSmallInDuration>
    <PulseLargeOutDuration>0.1</PulseLargeOutDuration>
    <PulseLargeInDuration>0.2</PulseLargeInDuration>
    <PulsePassOnTime>0.1</PulsePassOnTime>
    <TimeBetweenPulses>2</TimeBetweenPulses>
    <InitialPulseStrength>8</InitialPulseStrength>
  </Heart>
</configuration>