<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ScrollSpeed>512</ScrollSpeed>
  <ZoomSpeed>0.001</ZoomSpeed>
  <PulseSmallScale>1.025</PulseSmallScale>
  <PulseLargeScale>1.05</PulseLargeScale>
  <PulseSmallOutDuration>0.1</PulseSmallOutDuration>
  <PulseSmallInDuration>0.1</PulseSmallInDuration>
  <PulseLargeOutDuration>0.1</PulseLargeOutDuration>
  <PulseLargeInDuration>0.2</PulseLargeInDuration>
  <LifeLossPerSecond>0.34</LifeLossPerSecond>
  <MaxLife>1</MaxLife>
</configuration>