<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ScrollSpeed>512</ScrollSpeed>
  <ZoomSpeed>0.001</ZoomSpeed>

  <Leaf>
    <Radius>64</Radius>
    <PulseSmallRadius>68</PulseSmallRadius>
    <PulseLargeRadius>72</PulseLargeRadius>
    <PulseSmallOutDuration>0.05</PulseSmallOutDuration>
    <PulseSmallInDuration>0.1</PulseSmallInDuration>
    <PulseLargeOutDuration>0.05</PulseLargeOutDuration>
    <PulseLargeInDuration>0.2</PulseLargeInDuration>
    <PulsePassOnTime>0.1</PulsePassOnTime>
    <LifeLossPerSecond>0.34</LifeLossPerSecond>
    <MaxLife>1</MaxLife>

    <Color>
      <Amount>2</Amount>
      <Normal>
        <R>227</R>
        <G>196</G>
        <B>25</B>
        <A>255</A>
        <MaxDist>1</MaxDist>
      </Normal>
      <Heart>
        <R>205</R>
        <G>92</G>
        <B>92</B>
        <A>255</A>
        <MaxDist>5</MaxDist>
      </Heart>
    </Color>
  </Leaf>

  <Food>
    <Normal>
      <EnergyAmount>1</EnergyAmount>
    </Normal>
  </Food>

  <Heart>
    <Radius>160</Radius>
    <PulseSmallRadius>156</PulseSmallRadius>
    <PulseLargeRadius>152</PulseLargeRadius>
    <PulseSmallOutDuration>0.1</PulseSmallOutDuration>
    <PulseSmallInDuration>0.1</PulseSmallInDuration>
    <PulseLargeOutDuration>0.1</PulseLargeOutDuration>
    <PulseLargeInDuration>0.2</PulseLargeInDuration>
    <PulsePassOnTime>0.1</PulsePassOnTime>
    <TimeBetweenPulses>2</TimeBetweenPulses>
    <InitialPulseStrength>8</InitialPulseStrength>
  </Heart>
</configuration>